@import "../variables.css";

.container {
  max-width: var(--spacing-extra-wide);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
  padding-top: var(--spacing-12);
  padding-bottom: var(--spacing-12);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: var(--spacing-8);
}

@media (min-width: 768px) {
  /* Tablets and up */
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  /* Desktops and up */
  .grid-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .main-content {
    grid-column: span 2 / span 2;
  }
}

/* TODO styles for article */
/* .main-content {
} */

.main-heading {
  font-size: var(--font-size-xxl);
  /* font-weight: var(--font-weight-bold); */
  margin-bottom: var(--spacing-6);
}

.main-paragraph {
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-4);
}

.sub-heading {
  font-size: var(--font-size-xxl);
  /* font-weight: var(--font-weight-semibold); */
  margin-top: var(--spacing-6);
  margin-bottom: var(--spacing-4);
}

.main-list {
  list-style-type: disc;
  padding-left: var(--spacing-4);
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-6);
}

.list-item {
  margin-bottom: var(--spacing-2);
}

.sidebar {
  background-image: linear-gradient(
    to right,
    var(--color-quaternary),
    var(--color-quaternary-low-saturation)
  );
  padding: var(--spacing-6);
  border-radius: var(--border-radius);
}

.sidebar-heading {
  font-size: var(--font-size-large);
  /* font-weight: var(--font-weight-semibold); */
  margin-bottom: var(--spacing-4);
}
