.buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 640px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.hero-text {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* on tablets */
@media screen and (min-width: 768px) {
  .hero-text {
    margin-right: 3rem;
  }
}

/* on desktops */
@media screen and (min-width: 1025px) {
  .hero-text {
    margin-right: 6rem;
  }
}

.hero-text-container {
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  transform: translateY(-55%);
  padding-right: 1rem;
}
