@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Merriweather:wght@400;700&display=swap");

/* Tailwind CSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Other global styles */
body {
  margin: 0;
  font-family: "Roboto", sans-serif; /* Primary font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg-primary);
  color: var(--color-dark-grey);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif; /* Secondary font for headings */
  font-weight: var(font-weight-medium);
}
