:root {
  /* Color */
  --color-red: #d70022;
  --color-yellow: #fbbf24;
  /* --color-tertiary: #3772ff; */
  --color-blue: #f4f4f4;
  /* sea green #00916E */
  /* Polynesian blue #094D92 */
  --color-tertiary-hover: #2651b8;
  --color-purple: #9400ff;
  --color-green: #058b00;
  --color-quaternary-low-saturation: hsl(160, 30%, 70%);
  --color-black: #1c1c1c;
  --color-dark-gray: #333333;
  --color-text-white: #f4f4f4;
  --color-bg-primary: white;
  --color-bg-secondary: #f2f2f2;

  /* Font Size */
  --font-size-base: 1.2rem;
  --font-size-small: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-size-large: 1.5rem;
  --font-size-xl: 1.75rem;
  --font-size-xxl: 2rem;

  /* Line Height */
  --line-height-base: 1.5rem;
  --line-height-large: 2rem;

  /* Font Weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 900;

  /* Spacing */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-24: 6rem;
  --spacing-wide: 60rem;
  --spacing-extra-wide: 80rem;

  /* Font Weight */
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;

  /* Border Radius */
  --border-radius: 0.25rem;

  /* Breakpoints for reference */
  --breakpoint-small: 640px; /* Mobile phones */
  --breakpoint-medium: 768px; /* Tablets */
  --breakpoint-large: 1024px; /* Desktops */

  /* Z-Index */
  --zindex-default: 1;
  --zindex-sticky: 10;

  /* Other */
  --transition-duration-normal: 0.3s;
  --border-standard: 1px solid var(--color-white);
}
